In [0]:
import pandas as pd
import numpy as np
import json

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑¬∑
Mounted at /content/drive

In [0]:
df = pd.read_csv('MeTooMMD_train.csv')
df

                  TweetId  Text_Only_Informative  ...  Support  Oppose
0     1052237153789390853                    1.0  ...      1.0     0.0
1     1052207832081129472                    1.0  ...      1.0     0.0
2     1052183746344960000                    0.0  ...      0.0     0.0
3     1052156864840908800                    1.0  ...      0.0     1.0
4     1052095305133510656                    1.0  ...      1.0     0.0
...                   ...                    ...  ...      ...     ...
7973  1052099226799353856                    0.0  ...      0.0     0.0
7974  1052099000688631809                    0.0  ...      0.0     0.0
7975  1052098808178302977                    0.0  ...      0.0     0.0
7976  1052098776490340352                    0.0  ...      0.0     0.0
7977  1052098719011749889                    0.0  ...      0.0     0.0

[7978 rows x 11 columns]

In [0]:
from google.colab import files

np.savetxt(r'metoo.txt', df['TweetId'].values, fmt='%d')
files.download('metoo.txt')

In [0]:
tweets = []
for line in open('drive/My Drive/datasets/tweets.json', 'r'):
    tweets.append(json.loads(line))

In [0]:
tweets = pd.DataFrame(tweets)

In [0]:
tweets

                          created_at  ...  quoted_status
0     Sat Oct 06 19:30:24 +0000 2018  ...            NaN
1     Sat Oct 06 20:07:33 +0000 2018  ...            NaN
2     Sat Oct 06 21:33:37 +0000 2018  ...            NaN
3     Sat Oct 06 21:55:38 +0000 2018  ...            NaN
4     Sun Oct 07 01:28:04 +0000 2018  ...            NaN
...                              ...  ...            ...
6909  Tue Oct 16 07:31:05 +0000 2018  ...            NaN
6910  Tue Oct 16 08:30:53 +0000 2018  ...            NaN
6911  Tue Oct 16 07:41:49 +0000 2018  ...            NaN
6912  Tue Oct 16 08:16:11 +0000 2018  ...            NaN
6913  Tue Oct 16 08:02:36 +0000 2018  ...            NaN

[6914 rows x 30 columns]

In [0]:
#downloading images

llist = []
ilist = []
for i in range(len(tweets)):
  if 'media' in tweets['entities'][i]:
    if 'media_url' in tweets['entities'][i]['media'][0]:
      llist.append(tweets['entities'][i]['media'][0]['media_url'])
    else : llist.append('na')
  else : llist.append('na')
  ilist.append(tweets['id_str'][i])
import requests
import urllib

def download_images(link,path,name):
  opener = urllib.request.build_opener()
  opener.addheaders = [('User-agent', 'Mozilla/5.0')]
  urllib.request.install_opener(opener)
  urllib.request.urlretrieve(link, path+name)
path = 'drive/My Drive/datasets/metoo/pics/'
for i in range(len(llist)):
  if llist[i] != 'na':
    download_images(llist[i], path, ilist[i])

In [0]:
#df is the dataframe of the provided dataset
df = pd.read_csv('drive/My Drive/datasets/metoo/df.csv')

#tweets is dataframe containing the tweets hydrated using twarc
tweets = pd.read_csv('drive/My Drive/datasets/metoo/tweets.csv')

In [0]:
tweet

      Unnamed: 0  ... quoted_status
0             89  ...           NaN
1             90  ...           NaN
2             91  ...           NaN
3             92  ...           NaN
4           2678  ...           NaN
...          ...  ...           ...
6909        5499  ...           NaN
6910        5500  ...           NaN
6911        5501  ...           NaN
6912        1522  ...           NaN
6913        1523  ...           NaN

[6914 rows x 31 columns]

In [0]:
sdf = df.copy(deep=True)
sdf.rename(columns = {'TweetId' : 'id'}, inplace=True)
sdf = pd.merge(sdf, tweets, on='id')
sdf

      Unnamed: 0_x                   id  ...  quoted_status_permalink  quoted_status
0              105  1048511333426024448  ...                      NaN            NaN
1              104  1048548462168424448  ...                      NaN            NaN
2              103  1048565625520447488  ...                      NaN            NaN
3              102  1048606748746166273  ...                      NaN            NaN
4             3251  1048626947624845312  ...                      NaN            NaN
...            ...                  ...  ...                      ...            ...
6909          6371  1059516837933723649  ...                      NaN            NaN
6910          6370  1059533115742474243  ...                      NaN            NaN
6911          6369  1059650998124199936  ...                      NaN            NaN
6912          1856  1072090447634407424  ...                      NaN            NaN
6913          1855  1074033522950709249  ...                      NaN            NaN

[6914 rows x 42 columns]

In [0]:

#downloading libraries
import pandas as pd 
import numpy as np
import matplotlib as plt
import pandas as pd
import nltk
import re
import numpy as np
from nltk import word_tokenize
from nltk.corpus import stopwords
from string import punctuation
import matplotlib.pyplot as plt
from collections import Counter
import pickle

#nltk.download()
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
from keras.layers import Dense, Dropout, Flatten  
from keras.layers import Conv2D, MaxPooling2D
import keras
from keras.layers import Dense, Conv2D
from keras.layers import Flatten
from keras.layers import MaxPooling2D, GlobalAveragePooling2D
from keras.layers import Activation
from keras.layers import BatchNormalization
from keras.layers import Dropout
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn import model_selection, svm
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt
from nltk.corpus import stopwords
import re
from bs4 import BeautifulSoup
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report

Using TensorFlow backend.

In [0]:
def text_extractor(text,text_type):
    title_list=[]
    for i in range(len(text)):
        title_list.append(text[text_type][i])
    return title_list

def preProcessData(dataa):
    stopwords_en = list(set(stopwords.words('english')))
    def split(word): 
        return [char for char in word]   
    punchList = split(punctuation)

    print(stopwords_en)
    print('Punctuation :', punchList)

    wordTokenList = [word_tokenize(sent) for sent in dataa]
    lowercasingList = [[word.lower() for word in sentence] for sentence in wordTokenList]
    noStopWordList = [[word for word in sentence if word not in stopwords_en] for sentence in lowercasingList]
    noPunchList = [[re.sub(r'([^\s\w]|_)+', '', word) for word in sentence] for sentence in noStopWordList]
    PP_data = [[word for word in sentence if word] for sentence in noPunchList]
    return PP_data

In [0]:
from sklearn.utils import shuffle
def shuffler(data):
    df_sh=shuffle(data)
    df_sh=df_sh.reset_index()
    return df_sh

def joiner(data):
    input_corrected = [" ".join(i) for i in data]
    return input_corrected
def data_prep(data,text_type):
    sh=shuffler(data)
    y=sh['Support']

    x=joiner(preProcessData(text_extractor(sh,text_type)))
    return x,y

In [0]:
x,y=data_prep(sdf,'full_text')
x_train=x[0:4840]
y_train=y[0:4840]
x_test=x[4840:]
y_test=y[4840:]
flairs=y.unique()

['such', 'am', 'own', 'then', 'down', "won't", 'just', 'his', 'through', 'as', 'o', 'yours', 'yourselves', 'its', 'further', "hasn't", 'haven', 'an', 'over', 'will', "it's", 'were', 's', 've', 'shan', 'weren', 'are', 'does', 'hers', "don't", 'aren', 'off', 'what', 'only', 'more', 'while', "aren't", "shan't", 'he', 'ain', 'is', 'theirs', 'most', 'our', 'not', 'nor', 'be', 'ourselves', "needn't", 'from', 'which', 'll', 'those', 'too', "hadn't", 'by', "wasn't", 'have', 'on', 'that', "isn't", "that'll", 'there', 'should', 'hasn', 'out', "couldn't", 'until', 'again', 'm', 'himself', 'been', "she's", 'when', 'him', 'we', 'couldn', 'my', "you've", 'for', 'all', 'mightn', 'didn', 'wasn', 'isn', 'below', 'shouldn', 'once', 'mustn', 'against', 'some', "mightn't", "should've", 'each', 'ma', 'under', 'to', 'herself', 'of', "you'll", 'because', 'can', 'above', 'doing', 'itself', 'in', 'where', 'why', 'both', "haven't", 'won', 't', 'i', 'any', 'no', 'now', 'than', 'before', 'her', 're', 'hadn', 'very', 'being', 'their', 'yourself', 'but', 'them', "you'd", "doesn't", 'wouldn', 'y', 'into', 'having', 'between', 'myself', 'during', 'it', 'd', "mustn't", 'did', "wouldn't", 'me', 'you', 'has', 'this', "weren't", "didn't", 'and', 'don', 'after', 'she', 'with', 'they', 'doesn', 'how', 'your', 'do', 'the', "you're", 'so', 'other', 'who', 'needn', 'at', 'or', 'here', 'same', 'whom', 'these', 'about', 'if', 'up', 'themselves', 'ours', 'was', "shouldn't", 'had', 'a', 'few']
Punctuation : ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

In [0]:
flairs = str(flairs)

In [0]:
def randomfr(x_train, x_test, y_train, y_test):
    class_weight = dict({0:1, 1:2})
    model = Pipeline([('vect', CountVectorizer()),
                  ('tfidf', TfidfTransformer()),
                  ('clf', RandomForestClassifier(n_estimators = 200, class_weight='balanced')),
                 ])
    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)
    print('accuracy %s' % accuracy_score(y_pred, y_test))
    print(classification_report(y_test, y_pred))

def linearsvm(x_train, x_test, y_train, y_test):  
    model= Pipeline([('vect', CountVectorizer()),
                  ('tfidf', TfidfTransformer()),
                  ('clf', SGDClassifier(loss='modified_huber', penalty='l1',alpha=1, max_iter=40, tol=None)),
                 ])
    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)
    print('accuracy %s' % accuracy_score(y_pred, y_test))
    print(classification_report(y_test, y_pred))

def logisticregg(x_train, x_test, y_train, y_test):
    model = Pipeline([('vect', CountVectorizer()),
                  ('tfidf', TfidfTransformer()),
                  ('clf', LogisticRegression(n_jobs=4, C=1e5, class_weight='balanced')),
                 ])
    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)
    filename = 'lg_model.sav'
    pickle.dump(model, open(filename, 'wb'))
    print('accuracy %s' % accuracy_score(y_pred, y_test))
    print(classification_report(y_test, y_pred))

  def svmSVC(x_train, x_test, y_train, y_test):
    model = Pipeline([('vect', CountVectorizer()),
                  ('tfidf', TfidfTransformer()),
                  ('clf', svm.SVC(C=100,kernel='sigmoid')),
                 ])
    model.fit(x_train, y_train)

    y_pred = model.predict(x_test)
    print('accuracy %s' % accuracy_score(y_pred, y_test))
    print(classification_report(y_test, y_pred))

In [0]:
randomfr(x_train,x_test,y_train, y_test)

accuracy 0.6610414657666345
              precision    recall  f1-score   support

         0.0       0.69      0.92      0.79      1428
         1.0       0.32      0.08      0.13       646

    accuracy                           0.66      2074
   macro avg       0.51      0.50      0.46      2074
weighted avg       0.57      0.66      0.58      2074

In [0]:
linearsvm(x_train,x_test,y_train, y_test)

accuracy 0.6885245901639344
              precision    recall  f1-score   support

         0.0       0.69      1.00      0.82      1428
         1.0       0.00      0.00      0.00       646

    accuracy                           0.69      2074
   macro avg       0.34      0.50      0.41      2074
weighted avg       0.47      0.69      0.56      2074

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [0]:
logisticregg(x_train,x_test,y_train, y_test)

accuracy 0.6036644165863067
              precision    recall  f1-score   support

         0.0       0.70      0.74      0.72      1428
         1.0       0.35      0.30      0.32       646

    accuracy                           0.60      2074
   macro avg       0.52      0.52      0.52      2074
weighted avg       0.59      0.60      0.60      2074

In [0]:
svmSVC(x_train,x_test,y_train, y_test)

accuracy 0.5612343297974928
              precision    recall  f1-score   support

         0.0       0.70      0.64      0.67      1428
         1.0       0.33      0.39      0.35       646

    accuracy                           0.56      2074
   macro avg       0.51      0.51      0.51      2074
weighted avg       0.58      0.56      0.57      2074

In [0]:
!wget http://nlp.stanford.edu/data/glove.6B.zip -O 'drive/My Drive/glove/glove.6B.zip'

In [0]:
!unzip 'drive/My Drive/glove/glove*.zip' -d 'drive/My Drive/glove'

In [0]:
#for dl models

def cleaner(PP_data):
    PP_corr=[]
    for title in PP_data:
        temp=[]
        for word in title:
            if word in embeddings_index.keys():
                    temp.append(word)
        PP_corr.append(temp)
    return PP_corr

def pad_features(titles,max_len):
    features=[]
    for title in titles:
        temp=[]
        for i in range(max_len):
            if i < len(title):
                temp.append(title[i])
            else:
                temp.append("ignore_nan")
        features.append(temp)
    return features


def vectorizer(summ_data,embeddings_index):
    summ_vec=[]
    for list_w in summ_data:
        temp=[]
        for word in list_w:
            if word in embeddings_index.keys():
                temp.append(embeddings_index[word])
        summ_vec.append(temp)
    return summ_vec

def sent_vectorizer(vector):
    sent_vect=[]
    for sent in vector:
        n=0
        temp=np.zeros(200)
        for word in sent:
            temp=temp+word
            n=n+1
        sent_vect.append(temp/n)
    return sent_vect

import os
glove_dir = 'glove'
embeddings_index = {} # empty dictionary
f = open(os.path.join('drive/My Drive/glove/glove.6B.200d.txt'), encoding="utf-8")
for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
f.close()
z=np.zeros(200)
embeddings_index['ignore_nan']=z

def reshaper(t_x):
    x = np.reshape(t_x, (t_x.shape[0], 1,t_x.shape[1]))
    return x

def data_to_ready(data,embed):
    t_list=text_extractor(data,'full_text')
    pp_data=preProcessData(t_list)
    clean=cleaner(pp_data)
#     max_len=max_finder(clean)
    clean=pad_features(clean,256)
    final=vectorizer(clean,embed)
    final=sent_vectorizer(final)
    final=np.array(final)
#     re_final=reshaper(final)
#     return re_final
    return final
def shuffler(data):
    df_sh=shuffle(data)
    df_sh=df_sh.reset_index()
    return df_sh
def one_shotter(z,colt):
    y=z[colt]
    y=np.array(y)
    y=pd.get_dummies(y)
    return y

In [0]:
sh=shuffler(sdf)
y=one_shotter(sh,'Oppose')
y=np.array(y)
x=data_to_ready(sh,embeddings_index)

['such', 'am', 'own', 'then', 'down', "won't", 'just', 'his', 'through', 'as', 'o', 'yours', 'yourselves', 'its', 'further', "hasn't", 'haven', 'an', 'over', 'will', "it's", 'were', 's', 've', 'shan', 'weren', 'are', 'does', 'hers', "don't", 'aren', 'off', 'what', 'only', 'more', 'while', "aren't", "shan't", 'he', 'ain', 'is', 'theirs', 'most', 'our', 'not', 'nor', 'be', 'ourselves', "needn't", 'from', 'which', 'll', 'those', 'too', "hadn't", 'by', "wasn't", 'have', 'on', 'that', "isn't", "that'll", 'there', 'should', 'hasn', 'out', "couldn't", 'until', 'again', 'm', 'himself', 'been', "she's", 'when', 'him', 'we', 'couldn', 'my', "you've", 'for', 'all', 'mightn', 'didn', 'wasn', 'isn', 'below', 'shouldn', 'once', 'mustn', 'against', 'some', "mightn't", "should've", 'each', 'ma', 'under', 'to', 'herself', 'of', "you'll", 'because', 'can', 'above', 'doing', 'itself', 'in', 'where', 'why', 'both', "haven't", 'won', 't', 'i', 'any', 'no', 'now', 'than', 'before', 'her', 're', 'hadn', 'very', 'being', 'their', 'yourself', 'but', 'them', "you'd", "doesn't", 'wouldn', 'y', 'into', 'having', 'between', 'myself', 'during', 'it', 'd', "mustn't", 'did', "wouldn't", 'me', 'you', 'has', 'this', "weren't", "didn't", 'and', 'don', 'after', 'she', 'with', 'they', 'doesn', 'how', 'your', 'do', 'the', "you're", 'so', 'other', 'who', 'needn', 'at', 'or', 'here', 'same', 'whom', 'these', 'about', 'if', 'up', 'themselves', 'ours', 'was', "shouldn't", 'had', 'a', 'few']
Punctuation : ['!', '"', '#', '$', '%', '&', "'", '(', ')', '*', '+', ',', '-', '.', '/', ':', ';', '<', '=', '>', '?', '@', '[', '\\', ']', '^', '_', '`', '{', '|', '}', '~']

In [0]:
model = Sequential()    
model.add(Dense(2, activation='relu'))
model.add(Dense(2, activation='softmax'))

In [0]:
model.compile(loss=keras.losses.categorical_crossentropy,  
       optimizer=keras.optimizers.Adadelta(),       
       metrics=['accuracy'])

In [0]:
model.fit(x[0:4800],y[0:4800],epochs=10,validation_data=(x[4800:],y[4800:] ), class_weight=class_weight)

Train on 4800 samples, validate on 2114 samples
Epoch 1/10
4800/4800 [==============================] - 0s 45us/step - loss: 0.9033 - accuracy: 0.6371 - val_loss: 0.6811 - val_accuracy: 0.5795
Epoch 2/10
4800/4800 [==============================] - 0s 45us/step - loss: 0.8936 - accuracy: 0.6096 - val_loss: 0.6929 - val_accuracy: 0.5369
Epoch 3/10
4800/4800 [==============================] - 0s 44us/step - loss: 0.8930 - accuracy: 0.6012 - val_loss: 0.6793 - val_accuracy: 0.5875
Epoch 4/10
4800/4800 [==============================] - 0s 42us/step - loss: 0.8928 - accuracy: 0.6104 - val_loss: 0.6928 - val_accuracy: 0.5374
Epoch 5/10
4800/4800 [==============================] - 0s 43us/step - loss: 0.8925 - accuracy: 0.6077 - val_loss: 0.6947 - val_accuracy: 0.5289
Epoch 6/10
4800/4800 [==============================] - 0s 43us/step - loss: 0.8925 - accuracy: 0.6033 - val_loss: 0.6883 - val_accuracy: 0.5454
Epoch 7/10
4800/4800 [==============================] - 0s 48us/step - loss: 0.8919 - accuracy: 0.6185 - val_loss: 0.7019 - val_accuracy: 0.5132
Epoch 8/10
4800/4800 [==============================] - 0s 44us/step - loss: 0.8916 - accuracy: 0.5967 - val_loss: 0.6761 - val_accuracy: 0.5927
Epoch 9/10
4800/4800 [==============================] - 0s 43us/step - loss: 0.8917 - accuracy: 0.6154 - val_loss: 0.6942 - val_accuracy: 0.5317
Epoch 10/10
4800/4800 [==============================] - 0s 42us/step - loss: 0.8916 - accuracy: 0.6110 - val_loss: 0.7035 - val_accuracy: 0.5080

In [0]:
#calculating precision and recall of the simple DL model trained above
y_pred = model.predict(x[4800:])
y_pred_bool = np.argmax(y_pred, axis=1)
def helper(yin):
  k=[]
  for i in range(len(yin)):
    if yin[i][0] > yin[i][1] : k.append(0)
    else : k.append(1)
  return k

yin = helper(y[4800:])

print(classification_report(yin, y_pred_bool))

              precision    recall  f1-score   support

           0       0.69      0.52      0.59      1450
           1       0.31      0.48      0.38       664

    accuracy                           0.51      2114
   macro avg       0.50      0.50      0.49      2114
weighted avg       0.57      0.51      0.53      2114

In [0]:
#training RNNs
from keras import optimizers
from keras.layers import SimpleRNN,Embedding,LSTM,Dropout
from keras.layers import Dense, Dropout, Flatten  
from keras.layers import Conv2D, MaxPooling2D
model = Sequential()
model.add(LSTM(512, dropout=0.2,kernel_initializer='he_normal', recurrent_dropout=0.2))
model.add(Dense(64,kernel_initializer='he_normal', activation='linear'))
model.add(Dropout(0.3))
model.add(Dense(32,kernel_initializer='he_normal', activation='relu'))
model.add(Dense(16,kernel_initializer='he_normal', activation='linear'))
model.add(Dropout(0.3))
model.add(Dense(8,kernel_initializer='he_normal', activation='relu'))
model.add(Dense(2,kernel_initializer='he_normal', activation='softmax'))
model.compile(loss='mse', optimizer='adam', metrics=['accuracy','categorical_accuracy'])

In [0]:
p_x=reshaper(x)
class_weight = {0: 1.,
                1: 12.}

In [0]:
modell.fit(p_x[0:4800],y[0:4800],
           epochs=50,
           batch_size = 64,validation_data=(p_x[4800:],y[4800:] ), 
           class_weight=class_weight,
           callbacks=[EarlyStopping(patience=10, min_delta=0.0001)]
           )

Train on 4800 samples, validate on 2114 samples
Epoch 1/50
4800/4800 [==============================] - 0s 86us/step - loss: 1.1309 - accuracy: 0.6571 - categorical_accuracy: 0.6571 - val_loss: 0.6218 - val_accuracy: 0.6566 - val_categorical_accuracy: 0.6566
Epoch 2/50
4800/4800 [==============================] - 0s 91us/step - loss: 1.1483 - accuracy: 0.6673 - categorical_accuracy: 0.6673 - val_loss: 0.7689 - val_accuracy: 0.4508 - val_categorical_accuracy: 0.4508
Epoch 3/50
4800/4800 [==============================] - 0s 89us/step - loss: 1.1385 - accuracy: 0.6202 - categorical_accuracy: 0.6202 - val_loss: 0.5933 - val_accuracy: 0.7006 - val_categorical_accuracy: 0.7006
Epoch 4/50
4800/4800 [==============================] - 0s 86us/step - loss: 1.1274 - accuracy: 0.6754 - categorical_accuracy: 0.6754 - val_loss: 0.6716 - val_accuracy: 0.5856 - val_categorical_accuracy: 0.5856
Epoch 5/50
4800/4800 [==============================] - 0s 85us/step - loss: 1.1359 - accuracy: 0.6383 - categorical_accuracy: 0.6383 - val_loss: 0.5991 - val_accuracy: 0.6954 - val_categorical_accuracy: 0.6954
Epoch 6/50
4800/4800 [==============================] - 0s 88us/step - loss: 1.1206 - accuracy: 0.6731 - categorical_accuracy: 0.6731 - val_loss: 0.6018 - val_accuracy: 0.6930 - val_categorical_accuracy: 0.6930
Epoch 7/50
4800/4800 [==============================] - 0s 82us/step - loss: 1.1208 - accuracy: 0.6394 - categorical_accuracy: 0.6394 - val_loss: 0.5978 - val_accuracy: 0.6987 - val_categorical_accuracy: 0.6987
Epoch 8/50
4800/4800 [==============================] - 0s 82us/step - loss: 1.1317 - accuracy: 0.6777 - categorical_accuracy: 0.6777 - val_loss: 0.7168 - val_accuracy: 0.5255 - val_categorical_accuracy: 0.5255
Epoch 9/50
4800/4800 [==============================] - 0s 88us/step - loss: 1.1266 - accuracy: 0.6508 - categorical_accuracy: 0.6508 - val_loss: 0.6380 - val_accuracy: 0.6310 - val_categorical_accuracy: 0.6310
Epoch 10/50
4800/4800 [==============================] - 0s 84us/step - loss: 1.1277 - accuracy: 0.6592 - categorical_accuracy: 0.6592 - val_loss: 0.6204 - val_accuracy: 0.6670 - val_categorical_accuracy: 0.6670
Epoch 11/50
4800/4800 [==============================] - 0s 85us/step - loss: 1.1264 - accuracy: 0.6600 - categorical_accuracy: 0.6600 - val_loss: 0.6710 - val_accuracy: 0.5870 - val_categorical_accuracy: 0.5870
Epoch 12/50
4800/4800 [==============================] - 0s 81us/step - loss: 1.1275 - accuracy: 0.6402 - categorical_accuracy: 0.6402 - val_loss: 0.6245 - val_accuracy: 0.6585 - val_categorical_accuracy: 0.6585
Epoch 13/50
4800/4800 [==============================] - 0s 85us/step - loss: 1.1357 - accuracy: 0.6731 - categorical_accuracy: 0.6731 - val_loss: 0.7064 - val_accuracy: 0.5459 - val_categorical_accuracy: 0.5459

In [0]:
#calculating precision and recall of the RNN trained above
y_pred = modell.predict(p_x[4800:])
y_pred_bool = np.argmax(y_pred, axis=1)
def help(yin):
  k=[]
  for i in range(len(yin)):
    if yin[i][0] > yin[i][1] : k.append(0)
    else : k.append(1)
  return k

yin = help(y[4800:])

print(classification_report(yin, y_pred_bool))

              precision    recall  f1-score   support

           0       0.93      0.55      0.69      1965
           1       0.07      0.46      0.12       149

    accuracy                           0.55      2114
   macro avg       0.50      0.50      0.41      2114
weighted avg       0.87      0.55      0.65      2114